/* robot font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2.5rem;
}

.filter-white {
  filter: invert(100%) sepia(1%) saturate(7497%) hue-rotate(259deg)
    brightness(100%) contrast(103%);
}
